.fa-id-badge{
    padding: 0px 20px 0px 20px;
}


#about .row p{
    letter-spacing: 0.2rem;
}
#about{
    background-color: #e9ecef;
    text-align: center;
}
#about .row h2{
    /* text-align: center; */
    margin-top: 50px;
}

#about .row p{
    display: inline-block;
    /* text-align: center;
    align-items: center; */
}
#abtdiv h1{
    font-family: 'Shippori Mincho B1', serif;
    margin-top: 20px;
}
#abtdiv p{
    display: inline-block;
    font-family: 'Shippori Mincho B1', serif;
}




#footer .row{
    margin: 0px auto;
    padding:20px;
}
#footer .row div{
    font-family: 'Shippori Mincho B1', serif;
    text-align: center;
}
#footer .row div i{
    font-size: 30px;
}
#footer .row div h5:hover{
    cursor: pointer;
}